.hud {
  position: absolute;
  top: 0;
  width: 100%;
  height: 139px;
  z-index: 10000;
  background: black;
  display: flex;
  align-items: center;
  
  .logo {
    margin-right: 40px;
    margin-left: auto;
    height: 70%;
  }
}