.player-renderer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('/assets/images/player1.png');
  width: 75px;
  height: 105px;
  background-size: 800px 800px;
  background-position: -8px -1px;
}